body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

img {
  margin: 20px 0;
  max-width: 40px;
}

.container {
  position: fixed;
  height: 100%;
}

.side-menu {
  background-color: #eee;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

.issue-view {
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

.close-button {
  text-align: right;
}

@media screen and (max-width:599px) {
  .container {
    width: 100%;
  }
  .issue-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
  }
  .issue-view.show {
    display: block;
    background-color: #fff;
  }
}

@media screen and (min-width:600px) {
  .container {
    display: flex;
    align-items: flex-start;
  }
  .side-menu {
    width: 30%;
  }
  .issue-view {
    width: 70%;
  }
  .close-button {
    display: none;
  }
}
